spring:
  redis:
    host: 172.18.7.29
    port: 6379

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:mysql://172.18.7.29:8888/web?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: root # username과 password는 자신의 설정에 맞게
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update # 어플리케이션을 시작할 때 데이터베이스를 초기화하고 다시 테이블 생성
    properties:
      hibernate:
        format_sql: true # 실행되는 query를 보여줌

logging.level:
  org.hibernate.SQL: debug