<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body{
            background-color: #313338;
        }
        p{
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <p style="text-align:center">&nbsp;</p>
    <p style="text-align:center">&nbsp;</p>
    <p style="text-align:center">&nbsp;</p>
    <p style="text-align:center"><span style="font-size:36px">Git 협력 관리 사이트 Error</span></p>
    <p style="text-align:center">&nbsp;</p>
</body>
</html>