<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="Page.css" />
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <div id="loginForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pw">PW</label>
            <input type="password" id="pw" name="pw" required>
        </div>
        <button onclick="Login()" class="login-btn">Login</button>
        <!-- 회원가입 버튼 -->
        <button onclick="GoSignUp()" class="signup-btn">Sign Up</button>
    </div>
    <div id="error-message" class="error-message"></div>
</div>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script>
    const GoSignUp = ()=>{
        window.location.href = "/signup-page";
    }
    const Login = ()=>{
        const errorMessageDiv = document.getElementById('error-message');
        const email = document.getElementById('email').value;
        if(!emailCheck(email)){
            alert("형식에 맞는 이메일을 입력해 주세요");
            return false;
        }
        const pw = document.getElementById('pw').value;
        if(!checkPassword(pw)){
            alert("형식에 맞는 패스워드를 입력해 주세요");
            return false;
        }
        fetch('/api/v1/member-api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, pw })
        })
            .then((response)=>{
                console.log(response);
                if(response.ok&& response.status===200){
                    window.location.href = "/dashboard/main"
                }else if(response.status === 400 || response.status === 500){
                    alert("id pw not corrected");
                }
            })
            /*.then((data)=>{
                alert("login success");
                console.log(data);
            })*/
            .catch((error)=>{
                errorMessageDiv.textContent = 'An error occurred. Please try again later.';
                console.error('Error:', error);
            });


    }




</script>
</body>
</html>
