<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h2>로그인</h2>
    <div id="loginForm">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pw">비밀번호</label>
            <input type="password" id="pw" name="pw" required>
        </div>
        <button onclick="Login()" class="login-btn">로그인</button>
        <a onclick="GoSignUp()" class="signup-link">회원가입</a>
        <a onclick="FindIDPW()" class="signup-link">ID/PW 찾기</a>
    </div>
    <div id="error-message" class="error-message"></div>
</div>
<script>
    const GoSignUp = () => {
        window.location.href = "/signup-page";
    }

    const FindIDPW = () => {
        window.location.href = "/find-idpw";
    }

    const Login = () => {
        const errorMessageDiv = document.getElementById('error-message');
        const email = document.getElementById('email').value;
        if (!emailCheck(email)) {
            alert("형식에 맞는 이메일을 입력해 주세요");
            return false;
        }
        const pw = document.getElementById('pw').value;
        if (!checkPassword(pw)) {
            alert("형식에 맞는 패스워드를 입력해 주세요");
            return false;
        }
        fetch('/api/v1/member-api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, pw })
        })
            .then((response) => {
                if (response.ok && response.status === 200) {
                    window.location.href = "/dashboard/main";
                } else if (response.status === 400 || response.status === 500) {
                    alert("아이디 또는 비밀번호가 맞지 않습니다.");
                }
            })
            .catch((error) => {
                errorMessageDiv.textContent = '오류가 발생했습니다. 잠시 후 다시 시도해 주세요.';
                console.error('Error:', error);
            });
    }

    function emailCheck(email) {
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        return emailPattern.test(email);
    }

    function checkPassword(password) {
        return password.length >= 6;
    }
</script>
</body>
</html>
