<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page - Update Information</title>
    <link rel="stylesheet" th:href="@{/css/Board.css}" />
</head>
<body>
<div class="container">
    <h2>Update My Information</h2>
    <!-- 폼 제출 후 에러나 성공 메시지가 표시될 영역 -->
    <div class="error-message">
        <!-- 여기에 에러 메시지 또는 성공 메시지가 표시될 수 있습니다 -->
    </div>

    <div class="form-group">
        <!-- Email 수정 필드 -->
        <label for="email" class="up-lb">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email"  th:value="${memberDto.getEmail()}">
    </div>
    <div class="form-group">
        <!-- Password 수정 필드 -->
        <label for="pw" class="up-lb">PW</label>
        <input type="password" id="pw" name="pw" placeholder="Enter new password" th:value="${memberDto.getPw()}" required>
    </div>
    <div class="form-group">
        <!-- GitHub Access Token 수정 필드 -->
        <label for="githubAccessToken" class="up-lb">GitHub Access Token</label>
        <input type="text" id="githubAccessToken" name="githubAccessToken" placeholder="Enter GitHub Access Token" th:value="${memberDto.getGithubAccessToken()}">
    </div>
    <!-- 제출 버튼 -->
    <button type="submit" onclick="window.location.href='mypage.html'" class="update-btn">Update Information</button>
</div>
</body>
</html>
