<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page - Update Information</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="info-container">
    <h2 class="title">Update My Information</h2>
    <div class="error-message">
        <!-- Here the error or success message will display if needed -->
    </div>
    <div class="form-group">
        <label for="pw" class="form-label">PW</label>
        <input type="password" id="pw" name="pw" placeholder="Enter new password" required>
    </div>
    <div class="form-group">
        <label for="githubAccessToken" class="form-label">GitHub Access Token</label>
        <input type="text" id="githubAccessToken" name="githubAccessToken" placeholder="Enter GitHub Access Token">
    </div>
    <div class="form-group">
        <label for="nickname" class="form-label">Nickname</label>
        <input type="text" id="nickname" name="nickname" placeholder="Nickname">
    </div>
    <button type="submit" onclick="updateInfo()" class="update-btn">Update Information</button>
</div>
<script type="text/javascript">
    const updateInfo = () => {
        const pw = document.getElementById('pw').value;
        const githubAccessToken = document.getElementById('githubAccessToken').value;
        const nickname = document.getElementById('nickname').value;

        fetch('api/v1/member-api/modify-member-info', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ pw, githubAccessToken, nickname })
        })
            .then((response) => {
                if (response.ok && response.status === 200) {
                    window.location.href = "/dashboard/main";
                } else {
                    alert("Failed to update information.");
                }
            });
    };
</script>
</body>
</html>
