<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="Page.css" />
</head>
<body>
<div class="container">
    <h2>회원가입</h2>
    <div id="signupForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <br>
            <button onclick="canSignUp()">Check Available Email</button>
            <br>
            <div id="email-check-result"></div>
        </div>
        <div class="form-group">
            <label for="pw">PW</label>
            <input type="password" id="pw" name="pw" placeholder="" required>
        </div>
        <div class="form-group">
            <label for="githubAccessToken">Github Access Token</label>
            <input type="text" id="githubAccessToken" name="githubAccessToken" required>
        </div>
        <div class="form-group">
            <label for="nickname">Name</label>
            <input type="text" id="nickname" name="nickname" required>
        </div>
        <button onclick="SignUp()" class="signup-btn">Sign Up</button>
    </div>
    <div id="error-message" class="error-message"></div>
    <div id="success-message" class="success-message"></div>
</div>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script>


    const errorMessageDiv = document.getElementById('error-message');
    const successMessageDiv = document.getElementById('success-message');
    let isEmailChecked = false;

    const SignUp = ()=>{
        if(!isEmailChecked){
            alert("plz first email validate")
            return false;
        }

        const email = document.getElementById('email').value;
        if(!emailCheck(email)){
            alert("형식에 맞는 이메일을 입력해 주세요");
            return false;
        }
        const pw = document.getElementById('pw').value;
        if(!checkPassword(pw)){
            alert("형식에 맞는 패스워드를 입력해 주세요");
            return false;
        }
        const githubAccessToken = document.getElementById('githubAccessToken').value;
        if(!isNotEmpty(githubAccessToken)){
            alert("깃허브 엑세스 토큰을 입력해 주세요");
            return false;
        }
        const nickname = document.getElementById('nickname').value;
        if(!isNotEmpty(nickname)){
            alert('닉네임을 입력해 주세요.');
            return false
        }
        fetch('/api/v1/member-api/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email, pw, githubAccessToken,nickname})
        })
            .then((response)=>{
                if(response.ok){
                    return response.json()
                }else{
                    console.log(response)
                }
            })
            .then((data)=>{
                if(data.memberId != null){
                    alert("Sign Up Success");
                    window.location.href = "/login-page"
                }else{

                    alert("Sign up failed, because " + data.message);

                }


            })
            .catch((error)=>{
                errorMessageDiv.textContent = 'An error occurred. Please try again later.';
                console.error('Error:', error);
            })
    }


    const canSignUp =()=>{

        const email = document.getElementById('email').value;
        if(!emailCheck(email)){
            alert("형식에 맞는 이메일을 입력해 주세요");
            return false;
        }
        const apiCallUrl = '/api/v1/member-api/can-signup-id';
        const param = {
            email:email
        }
        const queryString = new URLSearchParams(param).toString();
        const reqUrl = `${apiCallUrl}?${queryString}`;
        const emailCheckResultDiv = document.getElementById('email-check-result')


        fetch(reqUrl,{
            method:'GET',
            headers:{
                'Content-Type': 'application/json',
            },
        })
            .then((response)=>response.json())
            .then((data)=>{

                if(data.canSignup){
                    alert('can signup');
                    isEmailChecked = true;
                }else if(data.status != null){
                    alert('signup validate failed, because ' + data.message)
                }else{
                    alert('duplicated email');
                }

            })
            .catch((error)=>{
                errorMessageDiv.textContent = 'Email Check failed!';
                console.log(error);
            })

    }
</script>
</body>
</html>
